<% content_for :title, "Todos" %>

<div class="w-full" data-controller="geolocation">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-6">
    <button data-action="click->geolocation#requestLocation" data-geolocation-target="button" class="rounded-md px-3.5 py-2.5 bg-purple-600 hover:bg-purple-500 text-white font-medium cursor-pointer">
      Weather View
    </button>
    <div data-geolocation-target="result"></div>
  </div>

  <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-8 justify-between items-center">    
    <div id="todos" class="min-w-full self-baseline grid">
      <h1 class="font-bold text-4xl">Todos</h1>

      <% if @todos.any? %>
        <% @todos.each do |todo| %>
          <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0 border-2 border-gray-300 border-solid rounded-md p-5 mt-6">
            <%= render todo %>
            <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
              <%= link_to "Show", todo, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-700 text-white hover:bg-gray-600 inline-block font-medium" %>
              <%= link_to "Edit", edit_todo_path(todo), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-700 text-white hover:bg-gray-600 inline-block font-medium" %>
              <%= button_to "Destroy", todo, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-500 hover:bg-red-400 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      
        <div class="mt-6">
          <%= link_to "New todo", new_todo_path, class: "rounded-md px-3 py-2 bg-blue-600 hover:bg-blue-500 text-white text-center block font-medium mb-4" %>
        </div>

      <% else %>
        <p class="text-center my-10">No todos found.</p>
      <% end %>
    </div>

    <div id="todos" class="min-w-full self-baseline">
      <h1 class="font-bold text-4xl">Completed</h1>

      <% if @completed.any? %>
        <% @completed.each do |todo| %>
          <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0 border-2 border-gray-300 border-solid rounded-md p-5 my-6">
            <%= render todo %>
            <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
              <%= link_to "Show", todo, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-700 text-white hover:bg-gray-600 inline-block font-medium" %>
              <%= link_to "Edit", edit_todo_path(todo), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-700 text-white hover:bg-gray-600 inline-block font-medium" %>
              <%= button_to "Destroy", todo, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-500 hover:bg-red-400 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
